*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #ffd4d4;
   
}

.header,footer{
    background-color: #000000;
    color: aliceblue;
    display: inline-block;
    padding-left: 5%;
    height: 30px;
    width: 100vw;
    
}

li{
    display: inline-block;
    margin-right: 50px;
    background-color: #ff0000;
    padding: 2px;
    
}
nav{
    background-color: #000000;
    
}
a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    background-color: #fff;
    border: #000000 solid;
    color: aqua;
}