*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #fff981;
}
.padding-checker{
    height: 70px;
    width: 150px;
    background-color: red;
    text-align: center;
    padding: 5px; /* It increases the size kaise go and inspect*/
    margin: 10px;/* margin me agar 2 margin hai to wo dono element ke maximum ka value margin me lega*/ 
}

.mar{
    height : 50px;
    width : 200px;
}
#margin1{
    background-color: #00ff08;
    margin: 5px 5px 50px 5px ;
}
#margin2{
    margin: 50px 5px 5px 5px ;
    background-color: #0051ff;
}
.border{
    width: 100px;
    height : 100px;
}
#border-checker1{
    background-color: #ff0303;
    text-align: center;
    margin :10px;
    border: 2px dotted rgb(21, 0, 255);
    box-sizing: border-box;/* inka box model content ka around hi padding la ke de dega jo mtlb content box size mehi padding aake fit ho jayega*/
}
#border-checker2{
    background-color: #2fff00;
    text-align: center;
    margin :10px;
    border: 5px solid;
    box-sizing: content-box;/* by default value */
    
}