*{
    margin: 5px;
    padding: 0;
}
body{
    background-color: #f2a8ff;
}
.boxes{
    border: 2px solid black;
    padding: 2px;
    background-color: #fdff93;
}
.box{
    height: 50px;
    width: 50px;
    background-color: #ff5bd9;
    display: inline-block;
    margin-right: 15px;
    
}
#box2{
    float: right;
    background-color: #a1baff;
}
.container-flex{
    height: 200px;
    width: 95vw;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;/*1. flex- start
    2. flex-end
    3. center
    4. space-between / space-around/ space-evenly*/
    flex-wrap: wrap;
    align-items: center;
}
.container{
    height: 50px;
    width: 50px;
    border: 3px solid black;
    margin: 5px;
    background-color: #ff0421;
    text-align: center;
}