*{
    padding: 0;
    margin: 0;
}
.back_color_red{
    background-color: #5100ff;
}
.back_color_blue{
    background-color: #ff0000;
}
button{
    background-color: #2bff00;
    color: brown;
}
.flex-box{
    display: flex;
    column-gap: 30px;
}
.box{
    height: 80px;
    width: 80px;
    font-size: 25px;
    
} 

#box1{
    background-color: #ff0000;
}
#box2{
    background-color: #b0cf00;
}
#box3{
    background-color: #0048ff;
}

.item{
    height:100px;
    width: 50px;
    color: #0400ff;
    /*there is huge differnce between height nad width and image began repeating itself then we need to set it as  background-repeat: no-repeat;*/
}
/*Setting Up of Background image s*/
#item1{
    background-image: url(Images/AL090142_web_2880.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#item2{
    background-image: url(Images/BMW.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#item3{
    background-image: url(Images/Physics_wallah_logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    /* visibility: hidden; */
    /*Visibility hidden mtlb image gayeb nhi hua wo bas dikh nhi raha uska jagah hai waha par */
}
/*
agar box bada hai aur image chhota hai to hum background position ko set karke image ko box me adjust kar sakte hai 
*/
.bgc{
    height: 500px;
    width: 100px;
    background-image: url(Images/BMW.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}