*
{
    padding: 1px;
    margin-right: 30px;
    background-color: antiquewhite;
    font-variant: small-caps;
}
p{
    font-family:serif;
    font-size: 45px;
    font-style: italic;
    font-weight: 600;
    color: #c3ffb9;
    background-color: black;
    padding: 6px;
    padding-left: 20px;
    

}