*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #edff67;
}
.heading{
    text-align: center;
    text-transform: capitalize;
}
.outer{
    font-size: 25px;
}
.inner{
    font-size: 10px;
}