*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #c0fff4;
}
/* #parent-div{
    display: flex;
    
} */
.box{

    height: 50px;
    width: 50px;
    background-color: #fff;
    border: 4px solid ;
    margin: 10px;
    text-align: center;
    /* display: inline; if we declear display as inline we cannot set the height and width */
    display: inline-block;/* using this we display the comntent in inline and we can easily set the property of block element i.e; height and width which we we unable to set in case of inline element */
    /* visibility: hidden; */
    

}
#box1{
    background-color: #c9f486;
    /* visibility: hidden; */
    /* display: none; */
    /* visibility: hidden; mtlb space lega par dikhega nhi aur  display: none; dono visibility as well as space gayeb*/
}

.first{
    height: 200px;
    width: 200px;
    background-color: #ff0000;
}
.second{
    height: 50%;
    width:50%;
    margin-top: 20%;
    background-color: #fff;
}