*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f4ffab;
}
.flex-box{
    display: flex;
    column-gap: 30px;
}
.box{
    height: 80px;
    width: 80px;    
}

#box1{
    background-color: #83ff8d;
    font-size: 20px;
    text-align: left;
}
#box2{
    background-color: #ff5151;
    font-size: 20px;
    text-align: center;
}
#box3{
    background-color: #9b82ff;
    font-size: 20px;
    text-align: right;
}
.text-decoration{
    display: flex;
    column-gap: 70px;
}
text{
    height: 50px;
    width: 50px;
}

#text1{
    text-decoration: underline;
}
#text2{
    text-decoration: overline;
}
#text3{
    text-decoration: line-through;
}

#text4{
    text-decoration: underline;
    text-decoration-style:dotted ;
    text-decoration-color: chartreuse;
}

.text-transformation{
    display: flex;
    column-gap: 50px;
    
}
.transformed-text{
    height: 100px;
    width: 100px;
}

.transformed-text{
    background-color: #728100;
    text-align: center;
}
#transformed-text1{
    text-transform: uppercase;
}
#transformed-text2{
    text-transform: lowercase;
}

/* .line-height{
    display: flex;
    column-gap: 45px;
}
.line{
    width: 50px;
    height: 50px;
    background-color: #d167bf;
}

#line1{
    text-transform: uppercase;
}
#line2{
    text-transform: lowercase;
}
#line3{
    text-transform:capitalize;/*ye sirf 1st letter ko capital karega aur upper case us pure senetence ke  letters ko capital karega*/
/*}
#line4{
    text-transform: none;
}
*/
#line3{
    /*Line height is the distance between the line passing through centres of two consecutive line*/
    line-height: 6px;
}
#line4{
    line-height: 30px;
    max-width: 500px;
}
.paragraph p{
    background-color: #eeff00;
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
    font-family: "Madimi One", sans-serif;
}