#haeding1{
    color:red;
    font-family: 'Times New Roman', Times, serif;
}
#heading2{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
#child1{
    border: 2px solid rgb(89, 255, 0);
}
#child2{
    padding: 4px;
    border: 2px solid rgb(255, 0, 111);
}